/*  Main Background  */

.main--s {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    /* height: 100vh; */
}
.main--s2 {
    height: 140vh;
    /* height: 140%; */
}

.main--s.aries {
    background: url("../../assets/aries-bg.png") no-repeat fixed center;
    background-size: cover;
}
.main--s.taurus {
    background: url("../../assets/taurus-bg.png") no-repeat fixed center;
    background-size: cover;
}
.main--s.gemini {
    background: url("../../assets/gemini-bg.png") no-repeat fixed center;
    background-size: cover;
}


.main--s .main--s2 {
    background: rgba(0,0,0,0.8);
    /* background: rgba(255, 255, 255, 0.7); */
}


/* Main Content */

.main-content {
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    height: 100%;
}


/* Main Header */
.main-header {
    padding-bottom: 30px;
    padding-top: 30px;
}



/* Header Symbol  */
.header-symbol-container {
    text-align: center;
}
.aries-symbol {
    border-radius: 50%;
    border: 2px solid #7e0a02;
    padding: 10px;
    background-color: #FC1503;
    color: #fff;
    text-align: center;
}
.taurus-symbol {
    border-radius: 50%;
    border: 2px solid #203c16;
    padding: 10px;
    background-color: #65bb45;
    color: #fff;
}

.gemini-symbol {
    border-radius: 50%;
    border: 2px solid #896702;
    padding: 10px;
    background-color: #F9BC04;
    color: #896702;
}

/* Zodiac Name */
.zodiac-name {
    text-align: center;
}

.zodiac-name.aries {
    color: #650801;
}

.zodiac-name.taurus {
    color: #1e3815;
}

.zodiac-name.gemini {
    color: #4b3801;
}

/* Zodiac Date Range */
.zodiac-date {
    text-align: center;
    font-weight: 600;
}

.zodiac-date.aries {
    color: #7e0a02;
}

.zodiac-date.taurus {
    color: #203c16;
}

.zodiac-date.gemini {
    color: #896702;
}

/* Zodiac Type */
.zodiac-type-container {
    display: flex;
    justify-content: space-evenly;
    /* max-width: 220px; */
    max-width: 650px;
    margin: 0 auto;
    padding-top: 5px;
}

.zodiac-type {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px 10px 10px 10px;
    padding: 10px;
}

.zodiac-type.aries {
    color: #FC1503;
    border: 2px solid #7e0a02;
    background-color: #fff3f2;
}
.zodiac-type.aries:hover {
    cursor: pointer;
    background-color: #7e0a02;
    border: 2px solid #7e0a02;
    color: #fff;
}

.zodiac-type.taurus {
    color: #65bb45;
    border: 2px solid #203c16;
    background-color: #f0f8ec;
}
.zodiac-type.taurus:hover {
    cursor: pointer;
    background-color: #203c16;
    border: 2px solid #203c16;
    color: #fff;
}


.zodiac-type.gemini {
    color: #F9BC04;
    border: 2px solid #896702;
    background-color: #fff8e6;
}
.zodiac-type.gemini:hover {
    cursor: pointer;
    background-color: #896702;
    border: 2px solid #896702;
    color: #fff;
}


.zodiac-type-text {
    padding-left: 6px;
    font-weight: 800;
}



.zodiac-type-text.aries {
    color: #7e0a02;
}

.zodiac-type-text.taurus {
    color: #203c16;
}

.zodiac-type-text.gemini {
    color: #644b02;
}

.zodiac-type.aries:hover .zodiac-type-text.aries {
    color: #fff;
}
.zodiac-type.taurus:hover .zodiac-type-text.taurus {
    color: #fff;
}
.zodiac-type.gemini:hover .zodiac-type-text.gemini {
    color: #fff;
}

/* Zodiac Planet */
.zodiac-planet-size {
    width: 26px;
}
.zodiac-planet {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px 10px 10px 10px;
    padding: 10px;
}

.zodiac-planet.aries {
    color: #7e0a02;
    border: 2px solid #7e0a02;
    background-color: #fff3f2;
}

.zodiac-planet.aries:hover {
    cursor: pointer;
    background-color: #7e0a02;
    border: 2px solid #7e0a02;
    color: #fff;
}

.zodiac-planet.taurus {
    color: #65bb45;
    border: 2px solid #203c16;
    background-color: #f0f8ec;
}

.zodiac-planet.taurus:hover {
    cursor: pointer;
    background-color: #203c16;
    border: 2px solid #203c16;
    color: #fff;
}

.zodiac-planet.gemini {
    color: #F9BC04;
    border: 2px solid #896702;
    background-color: #fff8e6;
}

.zodiac-planet.gemini:hover {
    cursor: pointer;
    background-color: #896702;
    border: 2px solid #896702;
    color: #fff;
}

.zodiac-planet-text {
    padding-left: 6px;
    font-weight: 800;
}

.zodiac-planet-text.aries {
    color: #7e0a02;
}

.zodiac-planet-text.taurus {
    color: #203c16;
}

.zodiac-planet-text.gemini {
    color: #644b02;
}

.zodiac-planet.aries:hover .zodiac-planet-text.aries {
    color: #fff;
}
.zodiac-planet.taurus:hover .zodiac-planet-text.taurus {
    color: #fff;
}
.zodiac-planet.gemini:hover .zodiac-planet-text.gemini {
    color: #fff;
}

/* Tabs */
.tab {
    max-width: 800px;
    width: 100%;
}

.tab.aries {
    min-height: 340px;
}

.tab .tab-headers {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.tab .tab-headers.aries {
    border-bottom: 2px solid #7e0a02;
}
.tab .tab-headers.taurus {
    border-bottom: 2px solid #203c16;
}
.tab .tab-headers.gemini {
    border-bottom: 2px solid #7c5e02;
}



.tab .tab-headers .tab-header {
    position: relative;
    padding: 0px 20px;
    height: 60px;
    line-height: 50px;
    z-index: 2;
    cursor: pointer;
    font-weight: 600;
}

.tab .tab-headers .tab-header.aries {
    color: #7e0a02;
}
.tab .tab-headers .tab-header.taurus {
    color: #203c16;
}
.tab .tab-headers .tab-header.gemini {
    color: #7c5e02;
}
.tab .tab-headers .tab-header:before {
    content: "";
    position: absolute;
    bottom: 10px;
    left:  20px;
    width: 25px;
    height: 4px;
    border-radius: 10px;
    display: none;
}

.cards-s .card .card-header {
    position: relative;
    padding: 5px 20px;
    height: 50px;
    margin-bottom: 0;

}

.card-header {
    padding-top: 20px;
}


.cards-s .card .card-header:before {
    content: "";
    position: absolute;
    bottom: 10px;
    left:  44%;
    width: 25px;
    height: 4px;
    border-radius: 10px;

    /* display: none; */
}

.aries-card-detail {
    position: relative;
}

.taurus-card-detail {
    position: relative;
}

.gemini-card-detail {
    position: relative;
}


.aries-card-detail:before {
    content: "";
    position: absolute;
    bottom: -22px;
    left: 48%;
    width: 25px;
    height: 4px;
    border-radius: 10px;
    background: #FC1503;
}

.taurus-card-detail:before {
    content: "";
    position: absolute;
    bottom: -22px;
    left: 48%;
    width: 25px;
    height: 4px;
    border-radius: 10px;
    background: #65bb45;
}

.gemini-card-detail:before {
    content: "";
    position: absolute;
    bottom: -22px;
    left: 48%;
    width: 25px;
    height: 4px;
    border-radius: 10px;
    background: #F9BC04;
}

.cards-s .card .card-header.aries:before {
    background: #FC1503;
}

.cards-s .card .card-header.taurus:before {
    background: #65bb45;
}

.cards-s .card .card-header.gemini:before {
    background: #F9BC04;
}


.tab .tab-headers .tab-header.aries:before {
    background: #7e0a02;
}
.tab .tab-headers .tab-header.taurus:before {
    background: #203c16;
}
.tab .tab-headers .tab-header.gemini:before {
    background: #7c5e02;
}



/* .tab .tab-headers .tab-header.active {
    border-bottom: none;
    box-shadow: 0px 2px 0px #fff;
} */

.tab .tab-headers .tab-header.aries.active {
    color: #FC1503;
    border: 2px solid #7e0a02;
    box-shadow: 0px 2px 0px #fff3f2;
    border-bottom: 2px solid #fff3f2;
    background-color: #fff3f2;
    border-radius: 10px 10px 0px 0px;
}

.tab .tab-headers .tab-header.taurus.active {
    color: #65bb45;
    border: 2px solid #203c16;
    box-shadow: 0px 2px 0px #f0f8ec;
    border-bottom: 2px solid #f0f8ec;
    background-color: #f0f8ec;
    border-radius: 10px 10px 0px 0px;
}

.tab .tab-headers .tab-header.gemini.active {
    color: #F9BC04;
    border: 2px solid #7c5e02;
    box-shadow: 0px 2px 0px #fff8e6;
    border-bottom: 2px solid #fff8e6;
    background-color: #fff8e6;
    border-radius: 10px 10px 0px 0px;
}



.tab .tab-headers .tab-header.active::before {
    display: inline;
}

.tab .tab-headers .tab-header.aries.active::before {
    background: #7e0a02;
}
.tab .tab-headers .tab-header.taurus.active::before {
    background: #2d541f;
}
.tab .tab-headers .tab-header.gemini.active::before {
    background: #7c5e02;
}
.tab .tab-body {
    padding: 30px 20px;
}

.tab .tab-body.aries {
    border-bottom: 2px solid #7e0a02;
    background-color: #fff3f2;
}

.tab .tab-body.taurus {
    border-bottom: 2px solid #203c16;
    background-color: #f0f8ec;
}

.tab .tab-body.gemini {
    border-bottom: 2px solid #7c5e02;
    background-color: #fff8e6;
}

.cards-s {
    /* margin-top: 40px; */
}

.card > p {
    line-height: 45px;
    font-weight: 500;
    max-width: 550px;
    margin: 30px auto;
    margin-bottom: 40px;
    padding-left: 80px;
    padding-right: 80px;
}

.card-sm > p {
    line-height: 27px;
    font-weight: 600;
    text-transform: capitalize;
    margin-top: 5px;
    font-size: 16.5px;
    margin-bottom: 20px;
    padding-left: 0;
    padding-right: 0;
}



.card {
    border-radius: 10px 10px 10px 10px;
    background-color: #fff;
}

.card-sm {
    width: 200px; 
}

.aries-card {
    color: #7e0a02; 
    border: 2px solid #7e0a02;
    max-width: 600px;
    margin: 30px auto;
}

.taurus-card {
    color: #203c16; 
    border: 2px solid #203c16;
    max-width: 600px;
    margin: 30px auto;
}

.gemini-card {
    color: #7c5e02; 
    border: 2px solid #7c5e02;
    max-width: 600px;
    margin: 30px auto;
}




.tab .tab-body > h2 {
    color: #7e0a02;
    margin-bottom: 15px;
    margin-top: 5px;
    position: relative;
}

.tab .tab-body.aries > h2 {
    color: #7e0a02;
}
.tab .tab-body.taurus > h2 {
    color: #203c16;
}
.tab .tab-body.gemini > h2 {
    color: #7c5e02;
}

.tab .tab-body > p {
    color: #7e0a02;
 
    /* font-size: 17px; */
    line-height: 45px;
    font-weight: 500;
    max-width: 550px;
    /* margin: 30px auto;
    margin-bottom: 10px; */
}

.tab .tab-body.aries > p {
    color: #7e0a02;
}

.tab .tab-body.taurus > p {
    color: #203c16;
}

.tab .tab-body.gemini > p {
    color: #7c5e02;
}

